.screenline {
  //
}
.screenline.white {
  color: rgb(249, 249, 245);
}
.screenline.white-bg {
  background-color: rgb(249, 249, 245);
}
.screenline.white.underline {
  border-bottom: 1px solid rgb(249, 249, 245);
}
.screenline.black {
  color: rgb(17, 17, 17);
}
.screenline.black-bg {
  background-color: rgb(17, 17, 17);
}
.screenline.black.underline {
  border-bottom: 1px solid rgb(17, 17, 17);
}
.screenline.red {
  color: rgb(255, 110, 103);
}
.screenline.red-bg {
  background-color: rgb(255, 110, 103);
}
.screenline.red.underline {
  border-bottom: 1px solid rgb(255, 110, 103);
}
.screenline.green {
  color: rgb(90, 247, 142);
}
.screenline.green-bg {
  background-color: rgb(90, 247, 142);
}
.screenline.green.underline {
  border-bottom: 1px solid rgb(90, 247, 142);
}
.screenline.yellow {
  color: rgb(244, 249, 157);
}
.screenline.yellow-bg {
  background-color: rgb(244, 249, 157);
}
.screenline.yellow.underline {
  border-bottom: 1px solid rgb(244, 249, 157);
}
.screenline.blue {
  color: rgb(202, 169, 250);
}
.screenline.blue-bg {
  background-color: rgb(202, 169, 250);
}
.screenline.blue.underline {
  border-bottom: 1px solid rgb(202, 169, 250);
}
.screenline.magenta {
  color: rgb(255, 146, 208);
}
.screenline.magenta-bg {
  background-color: rgb(255, 146, 208);
}
.screenline.magenta.underline {
  border-bottom: 1px solid rgb(255, 146, 208);
}
.screenline.cyan {
  color: rgb(154, 237, 254);
}
.screenline.cyan-bg {
  background-color: rgb(154, 237, 254);
}
.screenline.cyan.underline {
  border-bottom: 1px solid rgb(154, 237, 254);
}
.screenline.gray {
  color: rgb(199, 199, 199);
}
.screenline.gray-bg {
  background-color: rgb(199, 199, 199);
}
.screenline.gray.underline {
  border-bottom: 1px solid rgb(199, 199, 199);
}
.screenline.bold {
  text-shadow: 0px 0px 1px;
}
.screenline.underline {
  border-bottom: 1px solid rgb(249, 249, 245);
}
.screenline.strikethrough {
  text-decoration: line-through;
}
.screenline.italic {
  font-style: italic;
}
.screenline.dim {
  opacity: 0.7;
}
.screenline.command {
  cursor: pointer;
  border-bottom: 1px dotted rgb(249, 249, 245);
}
.screenline a {
  cursor: pointer;
  color: rgb(0, 92, 187);
  text-decoration: underline;
}
