.wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;

  &.dark {
    color: #ffffff;
    background-color: #444444;
    font-family: 'VT323';
    & a {
      color: #fff;
      text-decoration: none;
    }
  }

  &.paper {
    color: #000000;
    background-color: #fffced;
    font-family: 'Amiri';
    & a {
      color: #000;
      text-decoration: none;
    }
  }

  .content {
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
  }
}

.slide-left-enter,
.slide-right-leave-active {
  .content {
    opacity: 0;
    transform: translate(50px, 0);
  }
}
.slide-left-leave-active,
.slide-right-enter {
  .content {
    opacity: 0;
    transform: translate(-50px, 0);
  }
}
