.dark {
  $dark-colors:
  white #fff,
  black #000,
  red #f00,
  green #0f0,
  blue #00f,
  cyan #0ff,
  yellow #ff0,
  fuchsia #f0f;
  @each $color in $dark-colors {
    .#{nth($color, 1)} {
      background-color: nth($color, 2);
    }
  }
}

.pastel {
  $pastel-colors:
  white #fff,
  black #333333,
  red #FF3B3B,
  green #00BD46,
  blue #3D5EC1,
  cyan #00E0FF,
  yellow #FFD758,
  fuchsia #B84EAB;
  @each $color in $pastel-colors {
    .#{nth($color, 1)} {
      background-color: nth($color, 2);
    }
  }
}

.invert {
  $invert-colors:
  white #000,
  black #fff,
  red #0ff,
  green #f0f,
  blue #ff0,
  cyan #f00,
  yellow #00f,
  fuchsia #0f0;
  @each $color in $invert-colors {
    .#{nth($color, 1)} {
      background-color: nth($color, 2);
    }
  }
}

.zoo {
  $zoo-colors:
  white #fff url('../tiles/zoo/white.png'),
  black #000 url('../tiles/zoo/black.png'),
  red #f00 url('../tiles/zoo/red.png'),
  green #0f0 url('../tiles/zoo/green.png'),
  blue #00f url('../tiles/zoo/blue.png'),
  cyan #0ff url('../tiles/zoo/cyan.png'),
  yellow #ff0 url('../tiles/zoo/yellow.png'),
  fuchsia #f0f url('../tiles/zoo/fuchsia.png');
  @each $color in $zoo-colors {
    .#{nth($color, 1)} {
      background: nth($color, 3);
    }
  }
}

.vapor {
  $vapor-colors:
  white linear-gradient(45deg, #fff, #888),
  black linear-gradient(45deg, #000, #333),
  red linear-gradient(45deg, #f00, #811),
  green linear-gradient(45deg, #0f0, #181),
  blue linear-gradient(45deg, #00f, #118),
  cyan linear-gradient(45deg, #0ff, #188),
  yellow linear-gradient(45deg, #ff0, #881),
  fuchsia linear-gradient(45deg, #f0f, #818);
  @each $color in $vapor-colors {
    .#{nth($color, 1)} {
      background: nth($color, 2);
    }
  }

  &.wrapper {
    background-image: linear-gradient(#1e1651, #0ff);
  }
  & .action-bar {
    background-image: linear-gradient(#1e1651, #0ff);
  }

}

.go {
  $go-colors:
  white #fff,
  black #000,
  red #000,
  green #fff,
  blue #000,
  cyan #fff,
  yellow #fff,
  fuchsia #000;
  @each $color in $go-colors {
    .#{nth($color, 1)} {
      background-color: nth($color, 2);
    }
  }

  & .display-grid {
    background-image: linear-gradient(to right, transparent calc(50% - 1px), #000 50%, transparent 0), linear-gradient(to bottom, transparent calc(50% - 1px), #000 50%, transparent 0) !important;

    border-color: transparent !important;
  }

  & .active-key {
    border-radius: 100% !important;
  }
  & [class*="key-"] {
    border-radius: 100% !important;
    border-bottom-width: 1px !important;
    border-right-width: 1px !important;
    background-color: rgba(0, 0, 0, 0.1);
    span {
      text-shadow:
      -1px -1px 0 #dab15b,
      1px -1px 0 #dab15b,
      -1px 1px 0 #dab15b,
      1px 1px 0 #dab15b;
    }
  }
  & .keyboard {
    border-width: 0 !important;
  }
}

/* name primary secondary tertiary keyboard */
$base-colors:
dark #444444 #FFFFFF #555555 rgba(255, 255, 255, 0.05),
pastel #FFFFE5 #9B9B58 #DBDBB0 rgba(186, 186, 126, 0.1),
invert #BBBBBB #000000 #AAAAAA rgba(0, 0, 0, 0.05),
zoo #000000 #FFFFFF #222222 rgba(255, 255, 255, 0.05),
vapor #1e1651 #fff #f0f rgba(255, 0, 255, 0.1),
go #dab15b #FFFFFF #000000 transparent;

@each $color in $base-colors {
  .#{nth($color, 1)} {

    &.wrapper {
      color: nth($color, 3);
      background-color: nth($color, 2);
      font-family: 'VT323';

      a {
        color: nth($color, 3);
        text-decoration: none;
      }
    }

    .map-canvas {
      background-color: nth($color, 2);

      position: absolute;
      top: 83px;
      left: 50%;

      transform: translateX(-50%);
      z-index: 3333;

      image-rendering: optimizeSpeed;
      image-rendering: -moz-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -o-crisp-edges;
      image-rendering: pixelated;

      -ms-interpolation-mode: nearest-neighbor;
    }

    & .display-grid {
      background-image: linear-gradient(to right, nth($color, 4) 1px, transparent 1px), linear-gradient(to bottom, nth($color, 4) 1px, transparent 1px);
      border-color: nth($color, 4);
    }

    & .keyboard {
      background-color: nth($color, 5);
      border-color: nth($color, 4);
    }

    & [class*='key-'] {
      border-color: nth($color, 4);
      span {
        color: nth($color, 4);
      }
    }

    & .action-bar {
      background-color: nth($color, 2);
      box-shadow: 0 -4px nth($color, 4);
      border-color: nth($color, 4);
    }

    & .menuItem {

      border-color: nth($color, 3);
      background-color: nth($color, 4);
      box-shadow: 0 0 nth($color, 3);
      &.lock {
        background-color: #8B0000;
      }

    }

    & .name {
      background-color: nth($color, 3);
      color: nth($color, 2);
    }

    & .colorLabel {
      color: nth($color, 2);
    }
    & .txtLabel {
      color: nth($color, 3);
      background-color: nth($color, 2);
    }
  }
}

