.dark {
  $dark-colors:
    white #fff #000,
    black #000 #fff,
    red #f00 transparent,
    blue #00f transparent,
    green #0f0 transparent,
    cyan #0ff transparent,
    yellow #ff0 transparent,
    fuchsia #f0f transparent;
  @each $color in $dark-colors {
      .#{nth($color, 1)} {
          background-color: nth($color, 2);

          &.is-text {
            background-color: nth($color, 3);
            color: nth($color, 2);
          }
      }
  }

  &.wrapper {
    color: #ffffff;
    background-color: #444444;
    font-family: 'VT323';

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
