.dark {
  $dark-colors:
    white #fff #000,
    black #000 #fff,
    red #f00 transparent,
    blue #00f transparent,
    green #0f0 transparent,
    cyan #0ff transparent,
    yellow #ff0 transparent,
    fuchsia #f0f transparent;
  @each $color in $dark-colors {
      .#{nth($color, 1)} {
          background-color: nth($color, 2);

          &.is-text {
            background-color: nth($color, 3);
            color: nth($color, 2);
          }
      }
  }

  &.wrapper {
    color: #ffffff;
    background-color: #444444;
    font-family: 'VT323';

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.zoo {
  $dark-colors:
    white #fff #000 url('../tiles/zoo/white.png'),
    black #000 #fff url('../tiles/zoo/black.png'),
    red #f00 transparent url('../tiles/zoo/red.png'),
    blue #00f transparent url('../tiles/zoo/blue.png'),
    green #0f0 transparent url('../tiles/zoo/green.png'),
    cyan #0ff transparent url('../tiles/zoo/cyan.png'),
    yellow #ff0 transparent url('../tiles/zoo/yellow.png'),
    fuchsia #f0f transparent url('../tiles/zoo/fuchsia.png');
  @each $color in $dark-colors {
      .#{nth($color, 1)} {
          background: nth($color, 4);

          &.is-text {
            background: nth($color, 3);
            color: nth($color, 2);
          }
      }
  }

  &.wrapper {
    color: #ffffff;
    background-color: #000000;
    font-family: 'VT323';

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
